* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

/*BIBLIOGRAFIA*/
.container {
    width: 100%;
    /*Largura*/
}

section {
    float: left;
    width: 50%;
    height: 200px;
}

#secao1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    float: left;
}

#secao1 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}



#secao2 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin-left: auto;
    background-size: cover;
}

#secao3 {
    position: relative;
    background: #fc0;
    width: 30%;
    height: 600px;
    margin: 0 20px 0 500px;
    top: -35px;
}

#box-center {
    width: 45%;
    border: yellow;
}

#box-center p {
    color: black;
    text-align: left;
    font-size: 20px;
}

#box-center hr {
    height: 3px;
    border-width: 0;
    background-color: black;
    width: 450px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#secao3 {
    height: 2px;
    background-color: white;
}

#box-esquerdo-s3 {
    width: 25%;
    height: 300px;
    border: none;
}

#box-direito-s3 {
    width: 25%;
    height: 300px;
    border: none;
}

#box-central-s3 {
    width: 25%;
    height: 300px;
    border: none;
}

#seta-direita img {
    width: 50px;
    height: 50px;
    border: none;
    margin: -100px -20px 0 650px;
    /* top, direita, inferior, esquerda */
    display: inline-block;
    text-align: center;
}

#seta-esquerda img {
    width: 50px;
    height: 50px;
    border: none;
    margin: -100px 40px 0 100px;
    /* top, direita, inferior, esquerda */
    display: inline-block;
    text-align: center;
}

/*INICIO*/
#bibl {
    color: #fff;
    width: 33.33%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/chaves-inicio.jpg);
    background-size: cover;

}

#eps {
    color: #fff;
    width: 33.33%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/chiquinha-inicio.jpg);
    background-size: cover;
}

#music {
    color: #fff;
    width: 33.33%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/kiko-inicio.jpg);
    background-size: cover;
}

button {
    background-color: brown;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

.home {
    text-decoration: none;
    color: white;
}

/*EPSODIOS*/
#fixo{
    float: left;
}
.video-container {
    position: relative;
    height: 20%;
    width: 80%;
    text-align: center;
    /* Ratio de aspecto do vídeo: (altura/largura) * 100% */
}

.video-container-ep iframe {
    position: absolute;
    height: 80%;
    width: 80%;
    text-align: center;
    margin-top: 50px;
}

.direita-img{
    float: right;
    height: 45px;
    width: 45px;
}

.esquerda-img{
    float: left;
    height: 45px;
    width: 45px;
}